.waiting-success-cointainer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 6vh;
    margin-bottom: 20vh;
    position: relative;
}


#loading-box{
    width: 100%;

    position: absolute;
    left: 0;
    /*grid-area: inner-div;*/
}

#loading-box h2{
    text-align: center;
    color: var(--darkGrey);
}

.loader {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center;  
    z-index: 100000;
  }
  
  .loader-element {
    border-radius: 100%;
    border: 5px solid #555;
    margin: 10px;
  }
  
  .loader-element:nth-child(1) {
    animation: preloader .6s ease-in-out alternate infinite;
  }
  .loader-element:nth-child(2) {
    animation: preloader .6s ease-in-out alternate .2s infinite;
  }
  
  .loader-element:nth-child(3) {
    animation: preloader .6s ease-in-out alternate .4s infinite;
  }
  
  @keyframes preloader {
    100% { transform: scale(2); }
  }







#animationDiv { 
    position: absolute;
    /*grid-area: inner-div;*/
}

.checkmark {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #4bb71b;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #4bb71b;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    position:relative;
    margin: 0 auto;
}
.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #4bb71b;
    fill: #fff;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
 
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #4bb71b;
    }
}






/* Fail */

.fail-container {
    background-color: white;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px 10px rgba(#000, 0.05);
  }
  
  .circle,
  .circle-border {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  
  .circle {
    z-index: 1;
    position: relative;
    background: white;
    transform: scale(1);
    animation: success-anim 700ms ease;
  }
  
  .circle-border {
    z-index: 0;
    position: absolute;
    transform: scale(1.1);
    animation: circle-anim 400ms ease;
    background: rgb(219, 74, 34);	
  }
  
  @keyframes success-anim {
    0% {
      transform: scale(0);
    }
    30% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes circle-anim {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1.1);
    }
  }
  
  .error::before,
  .error::after {
    content: "";
    display: block;
    height: 4px;
    background: rgb(219, 74, 34);
    position: absolute;
  }
  
  .error::before {
    width: 40px;
    top: 48%;
    left: 36%;
    transform: rotateZ(50deg);
  }
  
  .error::after {
    width: 40px;
    top: 48%;
    left: 36%;
    transform: rotateZ(-50deg);
  }